{% load static %}
<html>

<head>
	<title>Мой блог</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />

	<link rel="shortcut icon" href="css/images/favicon.ico" />

</head>

<body>
	<div class="shell">
		<div class="border">

			<div id="navigation">
				<ul>
					<li><a href="/" class="active">Главная</a></li>
					<li><a href="/admin">Админ панель</a></li>

				</ul>
			</div>

			<div id="main">
				<div id="content" class="left">

					<div class="projects">
						<h3>Записи</h3>
						{% for post in post_list %}
						<div class="item">
							<div class="image left">
								<a href="#"><img src="{{ post.img.url }}" width="200px" /></a>
							</div>
							<div class="text left">
								<h4><a href="{{ post.id }}">{{ post.title }}</a></h4>
								<p>{{ post.description }}</p>
								<p>Автор: {{ post.author }}</p>
							</div>
							<div class="cl">&nbsp;</div>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="cl">&nbsp;</div>
			</div>
		</div>
		<div id="footer">
			<p class="copy right">Copyright &copy; 2025 </p>
		</div>
	</div>
</body>
<script>
    let lastScroll = 0;
    const header = document.getElementById('navigation');
    const scrollThreshold = 100; // На сколько пикселей нужно проскролить, чтобы скрыть хедер
    
    window.addEventListener('scroll', function() {
        const currentScroll = window.pageYOffset;
        
        if (currentScroll <= 0) {
            // В самом верху страницы - показываем хедер
            header.classList.remove('hide');
            return;
        }
        
        if (currentScroll > lastScroll && currentScroll > scrollThreshold) {
            // Скроллим вниз - скрываем хедер
            header.classList.add('hide');
        } else if (currentScroll < lastScroll) {
            // Скроллим вверх - показываем хедер
            header.classList.remove('hide');
        }
        
        lastScroll = currentScroll;
    });
</script>

</html>